.login-button {
  position: absolute;
  font-family: 'Rammetto One', sans-serif; 
  bottom: 37px;
  right: 130px;
  padding: 7px 28px;
  font-size: 25px;
  background-color: #19437A;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}



.forgotpass-link {
  font-family: 'Alfa Slab One', sans-serif; 
  position: absolute;
  left: 550px;  
  top: 100px;    
  font-size: 40px; 
  color: #0B3164;
  cursor: pointer;
}

.text{
  font-family: 'Patua One', sans-serif; 
  position: absolute;
  left: 200px;  
  top: 280px;    
  font-size: 22px; 
  color: #5B728C;
  cursor: pointer;
  width: 550px; /* Limite la largeur du texte */
  word-wrap: break-word; /* Coupe les mots longs si besoin */
  white-space: normal; /* Permet le retour à la lign */
  text-align: left;
}

.email2-container {
  position: absolute;
  left: 200px;
  top: 410px;
  display: flex;
  align-items: center;
  background: #ECF1F6;
  padding: 7px;
  border-radius: 10px;
  width: 44%;
}

.email2-container input {
  width: 150%;
  padding: 10px ;
  border-radius: 10px;
  border: none;
  background: #ECF1F6;
  font-size: 22px;
  color: #4b4a4a;
  outline: none;
}

.email2-icon {
  font-size: 20px;  
color: #19437A;   
margin-right: 8px;
margin-top: 9px; /* Monte l'icône */
margin-bottom: 5px; /* Descend l'icône */
vertical-align: middle; /* Centre par rapport au texte */
}.back-arrow {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 30px;
  color: #19437A;
  cursor: pointer;
  z-index: 20;
  transition: color 0.3s ease;
}

.back-arrow:hover {
  color: #0B3164;
}
