body{
  background-color: #dae0e7;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

}
.login-box{
  background-color: white;
  padding: 250px;
  border-radius: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 2100px;
}
/* Conteneur du header */
.login-header {
  display: flex;
  justify-content:flex-start;
  gap: 70px; /* Réduit l’espace entre les liens */
  position: fixed;
  top: 50px; /* Place en haut du cadre blanc */
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}

/* Style pour "Se connecter" */
.login-link {
  font-size: 24px; /* Texte plus grand */
  font-weight: bold;
  color: #0B3164; /* Bleu foncé */
  cursor: pointer;
}

/* Style pour "S'inscrire" */
.signup-link {
  font-size: 24px; /* Texte plus grand */
  font-weight: bold;
  color: #8997A7; /* Gris bleu */
  cursor: pointer;
}

/* Ajout d'un effet au survol */
.login-link:hover,
.signup-link:hover {
  text-decoration: underline;
}
h1, p {
  color: black; /* Assure que le texte est visible */
}
