
.login-header {
  display: flex;
  justify-content:flex-start;
  gap: 130px; 
  position: fixed;
  top: 70px; 
  left: 55%;
  transform: translateX(-100%);
  width: max-content;
}


.login-link {
  font-family: 'Rammetto One', sans-serif; 
  font-size: 35px; 
  font-weight: bold;
  color: #0B3164; 
  cursor: pointer;
}


.signup-link {
  font-family: 'Rammetto One', sans-serif; 
  font-size: 35px; 
  font-weight: bold;
  color: #8997A7; 
  cursor: pointer;
}
  /* Désactive la couleur violette pour les liens visités */

.signup-link:visited {
  color: none; 
  text-decoration: none; /* Optionnel : supprime le soulignement */
}


.signup-link:hover {
  text-decoration: underline;
}

.login-button {
  position: absolute;
  font-family: 'Rammetto One', sans-serif; 
  bottom: 37px;
  right: 130px;
  padding: 7px 28px;
  font-size: 25px;
  background-color: #19437A;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #4D75A2;
}


.image-right {
  position: absolute;
  right: 150px; 
  top: 50%;
  transform: translateY(-50%);
  width: 450px; 
}

.image-right img {
  width: 100%;
  height: auto;
}


.email-container {
  position: absolute;
  left: 200px;
  top: 250px;
  display: flex;
  align-items: center;
  background: #ECF1F6;
  padding: 12px;
  border-radius: 10px;
  width: 40%;
}
.email-input input, .password-input input {
  width: 150%;
  padding: 10px ;
  border-radius: 10px;
  border: none;
  background: #ECF1F6;
  font-size: 22px;
  color: #4b4a4a;
  outline: none;

}

.password-container {
  position: absolute;
  left: 200px;
  top: 350px;
  display: flex;
  align-items: center;
  background: #ECF1F6;
  padding: 12px;
  border-radius: 10px;
  width: 40%;
}


.password-icon,
.email-icon {
  font-size: 22px;  
  color: #19437A;   
  margin-right: 12px;
}



.password-input input
.email-input input {
  width: 100%;
  padding: 10px ;
  border-radius: 10px;
  border: none;
  background: #ECF1F6;
  font-size: 25px;
  color: #000000;
  outline: none;
}


.eye-icon {
  font-size: 22px;
  color: #666;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.eye-icon:hover {
  color: #19437A;
}
.forgot-password {
  position: absolute;
  right: 685px;  
  top: 440px;    
  font-size: 18px; 
  color: #19437A;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}


.password-input svg {
  display: none; /* Cache toute icône de type SVG qui pourrait être ajoutée automatiquement */
}
/* Pour le bouton se connecter positionné en bas à droite */
.login-button {
  position: absolute;
  font-family: 'Rammetto One', sans-serif; /* Application de la police */
  bottom: 60px;
  right: 120px;
  padding: 7px 28px;
  font-size: 30px;
  background-color: #19437A;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #4D75A2;
}
