
.bienvenue1 {
    font-family: 'Alfa Slab One', sans-serif; 
    position: absolute;
    left: 590px;  
    top: 60px;    
    font-size: 55px; 
    color: #0B3164;
    cursor: pointer;
  }
  
  .creer-test-button1 {
    position: absolute;
    font-family: 'Rammetto One', sans-serif; /* Application de la police */
    left: 34%;
    top: 200px;  
    padding: 11px 100px;
    font-size: 25px;
    background-color: #19437A;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .ajouter-qcm-button1 {
    position: absolute;
    font-family: 'Rammetto One', sans-serif; /* Application de la police */
    left: 34%;
    top: 300px;  
    padding: 11px 100px;
    font-size: 25px;
    background-color: #19437A;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .consulter-test-button1 {
    position: absolute;
    font-family: 'Rammetto One', sans-serif; /* Application de la police */
    left: 34%;
    top: 400px;  
    padding: 11px 100px;
    font-size: 25px;
    background-color: #19437A;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .consulter-test-button1:hover{
    background-color: #4D75A2;
  }
  
 
  
  
  
  .action-button1 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px; /* pas d'espace par défaut */
    font-family: 'Rammetto One', sans-serif;
    background-color: #93979c;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 22px;
    padding: 11px 40px;
    width: 500px; /* fixe la largeur si tu veux que tout soit aligné */
  }
  .action-button11 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px; /* pas d'espace par défaut */
    font-family: 'Rammetto One', sans-serif;
    background-color: #19437A;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 22px;
    padding: 11px 40px;
    width: 500px; /* fixe la largeur si tu veux que tout soit aligné */
  }
  .button-icon1 {
    position: absolute;
    left: 40px;
    font-size: 28px;
  }
  
  .button-text1 {
    width: 100%;
    text-align: justify;
    padding-left: 60px; 
  }
  